:root{

    --primary: #cfcacf;
    --second: #cfcacf;
    --three: #cfcacf;
}



.divBody {
    background: linear-gradient(rgba(0, 0, 1, 0.929), rgb(118, 27, 42));
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    width: 150px;
    height: 150px;
}
svg {
    width: 90%;
    fill: none;
}
.load {
    transform-origin: 50% 50%;
    stroke-dasharray: 570;
    stroke-width: 20px;
}
.load.one {
    stroke: var(--primary);
    animation: load 1.5s infinite;
}
.load.two {
    stroke: var(--second);
    animation: load 1.5s infinite;
    animation-delay: 0.1s;
}
.load.three {
    stroke: var(--three);
    animation: load 1.5s infinite;
    animation-delay: 0.2s;
}
.point {
    animation: bounce 1s infinite ease-in-out;
}
.point.one {
    fill: var(--three);
    animation-delay: 0s;
}
.point.two {
    fill: var(--second);
    animation-delay: 0.1s;
}
.point.three {
    fill: var(--primary);
    animation-delay: 0.2s;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
   }
    50% {
        transform: translateY(-20px);
   }
}
@keyframes load {
    0% {
        stroke-dashoffset: 570;
   }
    50% {
        stroke-dashoffset: 530;
   }
    100% {
        stroke-dashoffset: 570;
        transform: rotate(360deg);
   }
}


.text_Netflix{
    background-image: linear-gradient(90deg, rgb(0, 0, 0), rgba(251, 203, 211, 0.526));
    background-size: 400%;
    text-align: center;
    font-size: 120px;
    font-weight: bold;
    /* color: rgb(118, 27, 42); */
    animation: move 3s infinite alternate;

    -webkit-text-fill-color:
    transparent;
    -webkit-background-clip: text;


}

@keyframes move {
    0%{
        background-position: right;
    }
    100%{
        background-position: left;
    }
}



@media (max-width: 768px) {

    .text_Netflix{

        font-size: 80px;

    }

    .loader {
        width: 100px;
        height: 100px;
    }
}