.buttonsModal{
    background: #44403c;
    font-size: 14px;
    border-radius: 100%;
    padding: 12px 2px;

}

.movileModal{
    background-color: #2b2b2b;
}


.buttonsModalAlternative{
    background: #44403c;
    font-size: 20px;
    border-radius: 100%;
    padding: 4px 6px;

}

